

footer.container(style='position: relative;left: 0;bottom: 0;height: 100px;width: 100%;overflow:hidden;')
  hr
  .footer-options
    ul
      li
        a(href='#') License
      li
        a(href='#') About Voucher
      li
        a(href='#') About Task Markets
  div(style='clear:both')
  small.copyrights  © Copyrights reserved  Voucher 2016



