head
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='Content-type', content='text/html;charset=UTF-8')
    meta(name="keywords", content="")
    meta(name="description", content="")
    meta(charset='utf-8')    
    title= title
    // BOOTSTRAP CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7', crossorigin='anonymous')
    // FONTAWESSOME CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    // INDEX BOOTSNIP CSS
    link(rel='stylesheet', href='css/index.css')
    // SOCIAL BOOTSNIP CSS
    link(rel='stylesheet', href='css/bootstrap-social.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js', type='text/javascript', charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    //if lt IE 9
      script(src='https://html5shim.googlecode.com/svn/trunk/html5.js')