header
    .container(style='padding-bottom:0.5cm;')
      .row
        .col-sm-1(style='margin-right:1cm;')
          img(src='/img/fb-logo.png', height='80', width='100')

        .col-sm-6
          .logo Voucher-jsclient Dev Platform  
          i(style='color:white; ') Sync with the people you REALLY trust !
          