extends ../layouts/default
block content
    .container
      .fb-profile
        img.fb-image-lg#cover(align='left', src='http://lorempixel.com/850/280/nightlife/5/', alt='Profile image example')
        img.fb-image-profile.thumbnail#profile_picture(align='left', src='/img/empty_profile.png', alt='Profile image example')
        .fb-profile-text
          span#username
          span#facebook
         .container(style='margin-left:1cm;')
          .container#fblogin
            fb:login-button(scope='user_about_me,user_location,public_profile,email,user_friends,user_photos,user_posts,user_relationships,user_relationship_details,user_work_history,user_friends,read_custom_friendlists', onlogin='checkLoginState();')
              span.fa.fa-facebook
              |  Sync your Facebook
            &nbsp
            button.btn.btn-default#sync_your_facebook(type='button', aria-label='Left Align',style='border:none;')
             span.glyphicon.glyphicon-info-sign(aria-hidden='true')
             
         .container-fluid#info_placeholder
          h3 Description :
          .row
           .container
            ul.list-unstyled
             li
              span#gender
             li
              span#location
             li
              span#work
              

         .alert.alert-info(role='alert' style='margin-top:10px;')
           h4 Only the people you Vouch for will be notified !
           i NOTA : Please note that your personal informations WILL NOT be saved into our server, so if you refresh the page you will need to re-sync your accounts.

    article.container
      .row
        .col-sm-6
          .login-main
           center
            h4
              i.fa.fa-thumbs-up
              |  People that you Vouched for :
            .list-group
              a.list-group-item.active(href='#')
               .top_right 
                button.btn.btn-success.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')            
               h4.list-group-item-heading 1st Circle
               p.list-group-item-text Your first Circle of trust 
              a.list-group-item(href='#')
               .row
                .col-sm-2
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/49.jpg', alt='Scott Stevens', style='width:25%;height:25%;')
                  p Scott Stevens
                .col-sm-2
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/97.jpg', alt='Seth Frazier', style='width:25%;height:25%;')
                  p Seth Frazier
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-warning.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')          
               h4.list-group-item-heading 2nd Circle
               p.list-group-item-text The people your first circle trust 
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-danger.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')        
               h4.list-group-item-heading 3rd Circle
               p.list-group-item-text The people that are trusted by your second circle. 
            h4
              i.fa.fa-search
              |  People that vouched for you :
            .list-group
              a.list-group-item.active(href='#')
               .top_right 
                button.btn.btn-success.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')           
               h4.list-group-item-heading Voucher
               p.list-group-item-text You are in their trust circle


        .col-sm-6
          .login-main
            h4
              i.fa.fa-thumbs-up
              |  Vouch for the people you really trust :
          .container-fluid(style='overflow:auto;max-height:425px;max-width:500px;margin-bottom:50px;border-solid:1px;')
           .panel.panel-primary
             .panel-heading.c-list
               span.title Your Friends
             ul#contact-list.list-group
               li.list-group-item#defaultfriend
                 .col-xs-12.col-sm-3
                   img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/97.jpg', alt='Seth Frazier')
                 .col-xs-12.col-sm-9
                   .top_right 
                     a.btn.btn-sm.btn-primary(href='#') Vouch !
                   span.name Exemple Dude
                   br
                   i Your friendlist 
                 .clearfix
               span#friends
           
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/js/jquery.flot.min.js')
    script(src='/app/control.js')
    script(src='/app/factory.js')

