extends ../layouts/default
block content
    .container
      .fb-profile
        img.fb-image-lg#cover(align='left', src='http://lorempixel.com/850/280/nightlife/5/', alt='Profile image example')
        img.fb-image-profile.thumbnail#profile_picture(align='left', src='http://lorempixel.com/180/180/people/9/', alt='Profile image example')
        .fb-profile-text
          span#username
          span#status
         .container(style='margin-left:1cm;')
          .container#fblogin
            fb:login-button(scope='user_about_me,user_location,public_profile,email,user_friends,user_photos,user_posts,user_relationships,user_relationship_details,user_work_history,user_friends,read_custom_friendlists', onlogin='checkLoginState();')
              span.fa.fa-facebook
              |  Sync your Facebook
         .container-fluid
          h3 Description :
          .row
           .container
            ul.list-unstyled
             li
              span#gender
             li
              span#location
             li
              span#work
             li
              i Please note that your data will not be saved into our sever , so if you refresh the page it will need to be re-sync.


    // /container
    article.container
      .row
        .col-sm-8
          .login-main
           center
            h4
              i.fa.fa-thumbs-up
              |  People that you Vouched for :
            .list-group
              a.list-group-item.active(href='#')
               .top_right 
                button.btn.btn-success.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')            
               h4.list-group-item-heading 1st Circle
               p.list-group-item-text Here will go the 1st Circle vouchers
              a.list-group-item(href='#')
               .row
                .col-sm-2
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/49.jpg', alt='Scott Stevens', style='width:25%;height:25%;')
                  p Scott Stevens
                .col-sm-2
                  img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/97.jpg', alt='Seth Frazier', style='width:25%;height:25%;')
                  p Seth Frazier
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-warning.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')          
               h4.list-group-item-heading 2sd Circle
               p.list-group-item-text Here will go the 1st Circle vouchers
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-danger.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')        
               h4.list-group-item-heading 3rd Circle
               p.list-group-item-text Here will go the 1st Circle vouchers
            h4
              i.fa.fa-search
              |  People that vouched for you :
            .list-group
              a.list-group-item.active(href='#')
               .top_right 
                button.btn.btn-success.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')           
               h4.list-group-item-heading 1st Circle
               p.list-group-item-text Here will go the 1st Circle vouchers
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-warning.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')           
               h4.list-group-item-heading 2sd Circle
               p.list-group-item-text Here will go the 1st Circle vouchers
            .list-group
              a.list-group-item(href='#')
               .top_right 
                button.btn.btn-danger.btn-circle.btn-lg
                  img.img-responsive.img-circle(src='/img/IMG_jp.JPG')         
               h4.list-group-item-heading 3rd Circle
               p.list-group-item-text Here will go the 1st Circle vouchers

        .col-sm-4
          .login-main
            h4
              i.fa.fa-thumbs-up
              |  Vouch for the people you really trust :
           .panel.panel-primary
             .panel-heading.c-list
               span.title Your Friends
             ul#contact-list.list-group
               li.list-group-item#defaultfriend
                 .col-xs-12.col-sm-3
                   img.img-responsive.img-circle(src='http://api.randomuser.me/portraits/men/97.jpg', alt='Seth Frazier')
                 .col-xs-12.col-sm-9
                   .top_right 
                     a.btn.btn-sm.btn-primary(href='#') Vouch !
                   span.name Exemple Dude
                   br
                   i Your friendlist 
                 .clearfix
               span#friends
           
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js', integrity='sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS', crossorigin='anonymous')
    script(src='/js/jquery.flot.min.js')
    script(src='/app/control.js')
    script(src='/app/factory.js')
    script.
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '159512431094694',
      xfbml      : true,
      version    : 'v2.5'
      });
      };
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
